/* 

DocStyle CSS

Stylesheet for lene08spx.github.io
Also a test for a school notices application ;)


Pius Gold - #ffdd00
Pius Blue   - #003362
Theme Grey  - #e2e2e2
Pius Light Accent - #003e77
Pius Dark Accent - #001f3b;
Yellow Hover- #d6bb0e
Blue Current- #0c6bc5

*/

@charset "UTF-8";

@font-face {
    font-family: "adelle-eb";
    src: url('adelle-eb.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

* { box-sizing: border-box; }
*::selection { background: #4ebeff; }
html {
    --colourGold: #ffdd00;
    --colourBlue: #003362;
    --colourGrey: #e2e2e2;
    --colourAccentLight: #003e77;
    --colourAccentDark: #001f3b;
    --colourHover: #d6bb0e;
    --colourSelect: #0c6bc5;
    --shadowBlock: 0 10px 20px black;
    --marginTop: 25px;
    background-color: rgb(29, 62, 105);
}
body {
    width: 1000px;
    margin: 0 auto;
}

.docBanner {
    background-color: var(--colourAccentLight);
    box-shadow: var(--shadowBlock);
    border-left: 20px solid var(--colourGold);
}
